.card {
    position: relative;
    

    @media (min-width: 580px) {
        display: grid;
        grid-template-columns: 
        'image image'
        'title price'
        'button button';
    }
    // .card__link

    &__link {
        &_img {
            
            margin-bottom: 12px;
            @media (min-width: 580px) {

            }
        }
    }

    // .card__img

    &__img {
    }

    // .card__title

    &__title {
        grid-area: title;
        margin-bottom: 4px;
    }

    // .card__price

    &__price {
        grid-area: price;
        margin-bottom: 12px;
    }

    &__btn {
        grid-area: button;
    }

    &__favourite {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}
