.goods {
    padding-top: 24px;

    @media (min-width: 580px) {
        padding-top: 32px;
    }
    @media (min-width: 820px) {
        padding-top: 40px;
    }
    // .goods__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 24px;

        @media (min-width: 580px) {
            margin-bottom: 32px;
            font-size: 32px;
        }
        @media (min-width: 820px) {
            margin-bottom: 40px;
        }
    }

    // .goods__list

    &__list {
    }

    // .goods__item

    &__item {
    }

    // .goods__card

    &__card {
    }
}

