.order {

    // .order__container

    &__container {
        margin-top: 32px;
    }

    // .order__title

    &__title {
        display: flex;
        flex-direction: column;
    }

    // .order__title-message

    &__title-message {
    }

    // .order__title-price

    &__title-price {
    }

    // .order__number

    &__number {
    }

    // .order__features

    &__features {
    }

    // .order__features-title

    &__features-title {
    }

    // .order__features-table

    &__features-table {
    }
}