.order {

    // .order__container

    &__container {
        max-width: 100%;
        margin: 32px auto 80px;
        padding: ;
    }

    // .order__title

    &__title {
    }

    // .order__title-message

    &__title-message {
    }

    // .order__title-price

    &__title-price {
    }

    // .order__number

    &__number {
    }

    // .order__features

    &__features {
    }

    // .order__features-title

    &__features-title {
    }

    // .order__features-table

    &__features-table {
    }
}