.pagination {
    width: 200px;
    margin: 0 auto;

    &__bar {
        background-color: ;
    }


    &__arrays {
    }

    &__left {
    }


    &__current {
    }


    &__total {
    }

    &__right {
    }
}
